﻿label 
{
    width: 100px;
}
.smaller
{
    font-size: smaller;
    /*color: blue;*/
}
.larger
{
    font-size: larger;
}
.printOnly {

}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide
{
    display: none !important;
}
.no-print, .no-print *
{
    display: none !important;
}
.breakhere 
{ 
    page-break-after: always;
}
.block {
    background:#fff; 
    color:#000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

