﻿/* styles for validation helpers */
.field-validation-error {
    color: #E61616;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #E61616;
}

/*
// ----------------------------------------------
// --- Modified : 2015 07 27
// --- By : Tri Basuki
// ----------------------------------------------
*/
div.jtable-column-header-container {height: auto !important;}

/*----- Testing Accordian -----*/
    /*----- Accordion -----*/
    .accordion, .accordion * {
        -webkit-box-sizing:border-box; 
        -moz-box-sizing:border-box; 
        box-sizing:border-box;
    }
 
    .accordion {
        overflow:hidden;
        box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        border-radius:3px;
        background:#f7f7f7;
    }
 
    /*----- Section Titles -----*/
    .accordion-section-title {
        width:100%;
        padding:7px;
        display:inline-block;
        border-bottom:1px solid #1a1a1a;
        background:#333;
        transition:all linear 0.15s;
        /* Type */
        font-size:1.000em;
        text-shadow:0px 1px 0px #1a1a1a;
        color:#fff;
    }
 
    .accordion-section-title.active, .accordion-section-title:hover {
        background:#4c4c4c;
        /* Type */
        text-decoration:none;
    }
 
    .accordion-section:last-child .accordion-section-title {
        border-bottom:none;
    }
 
    /*----- Section Content -----*/
    .accordion-section-content {
        padding:15px;
        display:none;
    }
