﻿@using TemplateProject.Models;
@{
    ViewBag.Title = "Papan Pemuka";
}

<script type="text/javascript">
    $(document).ready(function () {
        // -- dashboard menu active
        $("li").removeClass('active');
        $("#dashboard").prop('class', 'active');

        var info = "@ViewBag.info";
        var error = "@ViewBag.error";
        if (info != "") {
            $("#freeow").freeow("Info", info, {
                classes: ["smokey"],
                autoHide: true
            });
        }
        if (error != "") {
            $("#freeow").freeow("Error", error, {
                classes: ["smokey"],
                autoHide: true
            });
        }        
    }); 
</script>

<section class="content-header">
    <h1>
        Papan Pemuka<small>@Users.GetCurrentRoleName()</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Laman Utama</a></li>
        <li class="active">Papan Pemuka</li>
    </ol>
</section>
<hr />







