﻿@model TemplateProject.Models.ChangePasswordModel
@using TemplateProject.Models;
@{
    ViewBag.Title = "Change Password";
}

<section class="content-header">
    <h1>
    Tukar Kata Laluan
    <small>@Users.GetCurrentRoleName()</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Laman Utama</a></li>
    <li><a href="#">Tukar Kata Laluan</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tukar Kata Laluan</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm( new { role="form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <label for="currentPassword">Kata laluan</label>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Kata laluan Semasa" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="form-group has-feedback">
                            <label for="newPassword">Kata laluan Baru</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Kata laluan Baru" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group has-feedback">
                            <label for="confirmPassword">Pengesahan Kata laluan</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Pengesahan Kata laluan" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div><!-- /.box-body -->

                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <div class="pull-right">
                        <a title="Cancel" href="@Url.Action("Index", "Home")" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove"></span> Batal
                        </a>
                    </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!--div class="form-changepassword">

    @using (Html.BeginForm())
    {
        
        <fieldset>
            <legend>Change Password</legend>
            <ol>
                <li class="form-group">
                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li class="form-group">
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li class="form-group">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <p class="pull-left">
                <button style="color: black;" title="Save" type="submit" class="btn button">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </p>
            <p class="pull-right">
                <a style="color: black;" title="Cancel" href="@Url.Action("Index", "Home")" class="btn button">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </p>
        </fieldset>
        }
</!--div-->
        


