﻿@model TemplateProject.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Lost Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<p class="login-box-msg">Lost Password</p>

@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()        
        <fieldset>
            <legend></legend>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <strong> or </strong>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <p class="pull-left">
                <button type="submit" title="Send" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send"></span> Send
                </button>
            </p>
            <p class="pull-right">
                <a title="Cancel" href="@Url.Action("Index", "Home")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </p>
        </fieldset>
    }
</div>
