﻿@model TemplateProject.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<p class="login-box-msg">Log Masuk</p>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.UserName,
            new { @class = "form-control", placeholder = "ID Pengguna" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.Password,
            new { @class = "form-control", placeholder = "Kata laluan" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Ingat butiran
                </label>
            </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Log Masuk</button>
        </div><!-- /.col -->
    </div>
}
<hr />
<a href="@Url.Action("Forgot", "Account")">Lupa kata laluan</a><br>
<!--a href="@Url.Action("Register", "Account")" class="text-center">Register a new user</!--a -->
<br /><br />
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.Error)
        <br />
    </div>
}
@if (ViewBag.Info != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.Info) 
        <br />
    </div>
}

