﻿@model TemplateProject.Models.RegisterModel
@using TemplateProject.Models;

@{
    ViewBag.Title = "Pengurusan Pengguna";
    dbContext db = new dbContext();
}

<style type="text/css">
    <!--
    input.pull-left {
        width: 150px;
    }
    .search {
        width: 150px;
    }
    -->
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // -- register menu active
        $("li").removeClass('active');
        $("#register").prop('class', 'active');

        displayUserList();
        HideInput();
        
    });

    function HideInput() {
        $("#formInput").hide();
        $("#table").prop('class', 'col-md-12');
        $("#UserList").jtable('changeColumnVisibility', 'FullName', 'visible');
        $('.search').css('width', '150px');
    }
    function ShowInput() {
        $("#formInput").show();
        $("#table").prop('class', 'col-md-6');
        $("#UserList").jtable('changeColumnVisibility', 'UserName', 'hidden');
        $('.search').css('width', '100px');
    }

    function displayUserList() {
        $("#UserList").jtable({
            paging: true, //Enable paging
            sorting: true, //Enable sorting
            defaultSorting: 'CreatedDate DESC',
            pageList: 'minimal',
            gotoPageArea: 'none',
            actions: {
                listAction: '@Url.Action("GetAllUsers", "Admin")'
            },
            fields: {
                UserID: {
                    list: false
                },
                UserName: {
                    title: 'ID Pengguna',
                    width: '20%',
                    sorting: true,
                    display: function (data) {
                        return "<strong>" + data.record.UserName + "</strong>";
                    }
                },
                FullName: {
                    title: 'Nama Penuh',
                    width: '20%',
                    sorting: true
                },
                RoleName: {
                    title: 'Jawatan',
                    width: '10%',
                    sorting: true
                },
                IsActive: {
                    width: '10%',
                    title: 'Status',
                    sorting: false,
                    display: function (data) {
                        if (data.record.IsActive == "Aktif") {
                            str = "<a style='color: black' href='#' data-toggle='tooltip' title=' Nyahaktifkan! '>" +
                            "<span class='fa fa-check'></span> Aktif </a>";
                            var $img = $(str);
                            $img.click(function () {
                                InActive(data.record.UserID);
                            });
                            return $img;
                        } else {
                            str = "<a style='color: black' href='#' data-toggle='tooltip' title=' Aktifkan! '>" +
                                "<span class='fa fa-times'></span> Tidak Aktif </a>";
                            var $img = $(str);
                            $img.click(function () {
                                Active(data.record.UserID);
                            });
                            return $img;

                        }
                    }
                },
                Action1:
                {
                    width: '15%',
                    sorting: false,
                    display: function (data) {
                        str = "<a style='color: black' href='#' data-toggle='tooltip' title=' Kemaskini data pengguna! '>" +
                            "<span class='fa fa-edit'></span> Kemaskini </a>";
                        var $img = $(str);
                        $img.click(function () {
                            EditUser(data.record.UserID);
                        });
                        return $img;
                    }
                },
                Action2: {
                    width: '15%',
                    sorting: false,
                    display: function (data) {
                        str = "<a style='color: black' href='#' data-toggle='tooltip' title=' Hapus data pengguna! '>" +
                            "<span class='fa fa-remove'></span> Hapus </a>";
                        var $img = $(str);
                        $img.click(function () {
                            DeleteUser(data.record.UserID);
                        });
                        return $img;
                    }
                }
            }
        });

        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
            // ---   ---
            var filter1 = $('#filter1').val();
            var filter2 = $('#filter2').val();
            var SearchKey1 = $('#SearchKey1').val();
            var SearchKey2 = $('#SearchKey2').val();
            
            $('#UserList').jtable('load', {
                Filter1: filter1,
                SearchKey1: SearchKey1,
                Filter2: filter2,
                SearchKey2: SearchKey2
            });
        });

        //Load all records when page is first shown
        $('#LoadRecordsButton').click();
    }

    function AddUser() {
        ShowInput();
        $("#Role option:first").prop('selected', 'selected');
        $("#ID").val("");
        $("#FullName").val("");
        $("#ICNo").val("");
        $("#UserName").val("");
        $("#Password").prop('disabled', false);
        $("#ConfirmPassword").prop('disabled', false);
        $("#Password").val("");
        $("#ConfirmPassword").val("");
        $("#Email").val("");
        $("#AltEmail").val("");
        $("#ContactNo").val("");
        DimError();
    }

    function Cancel() {
        HideInput();
    }

    function DimError() {
        $("#ErrorFullName").html("");
        $("#ErrorICNo").html("");
        $("#ErrorUserName").html("");
        $("#ErrorPassword").html("");
        $("#ErrorConfirmPassword").html("");
        $("#ErrorEmail").html("");
        $("#ErrorContactNo").html("");
    }

    function Save() {
        var isError = false;
        DimError();

        if ($("#FullName").val() == "") {
            $("#ErrorFullName").html("").append("Nama penuh diperlukan!");
            isError = true;
        }
        if ($("#ICNo").val() == "") {
            $("#ErrorICNo").html("").append("No. Kad Pengenalan diperlukan!");
            isError = true;
        }
        if ($("#UserName").val() == "") {
            $("#ErrorUserName").html("").append("ID Pengguna diperlukan!");
            isError = true;
        }
        if ($("#Password").val() == "") {
            $("#ErrorPassword").html("").append("Kata laluan diperlukan!");
            isError = true;
        }
        if ($("#Password").val() != $("#ConfirmPassword").val()) {
            $("#ErrorConfirmPassword").html("").append("Kata laluan yang dimasukkan tidak sama!");
            isError = true;
        }
        if ($("#Email").val() == "") {
            $("#ErrorEmail").html("").append("Alamat emel diperlukan!");
            isError = true;
        } else {
            if (!isValidEmail($("#Email").val())) {
                $("#ErrorEmail").html("").append("Alamat emel tidak sah!");
                isError = true;
            }
        }
        if ($("#ContactNo").val() == "") {
            $("#ErrorContactNo").html("").append("No. telefon diperlukan!");
            isError = true;
        }

        if (isError) {
            return;
        }
        var fd = new FormData(document.getElementById("myForm"));
        $.ajax({
            url: '@Url.Action("Register", "Account")',
            type: "POST",
            data: fd,
            processData: false,
            contentType: false
        }).done(function (msg) {
            if (msg.Result.toLowerCase() == "error") {
                $("#freeow").freeow("Error", msg.Message, {
                    classes: ["smokey"],
                    autoHide: true
                });
                return;
            } else {
                displayUserList();
                $("#freeow").freeow("Info", "Simpan data pengguna " + msg.record.FullName, {
                    classes: ["smokey"],
                    autoHide: true
                });
            }
        });
        HideInput();
    }

    function isValidEmail(email) {
        return /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/.test(email);
    }

    function EditUser(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUserByID", "Admin")',
            data: '{"UserID" :' + id + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.Result.toLowerCase() == "error") {
                    $("#freeow").freeow("Error", msg.Message, {
                        classes: ["smokey"],
                        autoHide: true
                    });
                } else {
                    $("#Role").val(msg.role).change();
                    $("#ID").val(msg.record.UserID);
                    $("#FullName").val(msg.record.FullName);
                    $("#ICNo").val(msg.record.ICNo);
                    $("#UserName").val(msg.record.UserName);
                    $("#Password").val(msg.record.Password);
                    $("#ConfirmPassword").val(msg.record.Password);
                    $("#Password").prop('disabled', true);
                    $("#ConfirmPassword").prop('disabled', true);
                    $("#Email").val(msg.record.Email);
                    $("#AltEmail").val(msg.record.AltEmail);
                    $("#ContactNo").val(msg.record.ContactNo);
                    DimError();
                    $("#freeow").freeow("Info", "Kemaskini data pengguna " + msg.record.FullName, {
                        classes: ["smokey"],
                        autoHide: true
                    });
                }
            },
            error: function (msg) {
                $("#freeow").freeow("Error", msg.Message, {
                    classes: ["smokey"],
                    autoHide: true
                });
            }
        });
        ShowInput();
    }

    function Active(id) {
        $.confirm({
            title: 'Pengesahan!',
            content: 'Aktifkan pengguna ini?',
            confirmButton: 'Ya',
            cancelButton: 'Tidak!',
            confirmButtonClass: 'btn-danger',
            cancelButtonClass: 'btn-info',
            theme: 'black',
            columnClass: 'col-md-4 col-md-offset-4',
            confirm: function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Activate", "Admin")',
                    data: '{"UserID" :' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.Result.toLowerCase() == "error") {
                            $("#freeow").freeow("Error", msg.Message, {
                                classes: ["smokey"],
                                autoHide: true
                            });
                        } else {
                            displayUserList();
                            $("#freeow").freeow("Info", "Aktifkan data pengguna " + msg.record.FullName, {
                                classes: ["smokey"],
                                autoHide: true
                            });

                        }
                    },
                    error: function (msg) {
                        $("#freeow").freeow("Error", msg.Message, {
                            classes: ["smokey"],
                            autoHide: true
                        });
                    }
                });
            }
        });
    }

    function InActive(id) {
        $.confirm({
            title: 'Pengesahan!',
            content: 'Nyahaktifkan pengguna ini?',
            confirmButton: 'Ya',
            cancelButton: 'Tidak!',
            confirmButtonClass: 'btn-danger',
            cancelButtonClass: 'btn-info',
            theme: 'black',
            columnClass: 'col-md-4 col-md-offset-4',
            confirm: function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InActivate", "Admin")',
                    data: '{"UserID" :' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.Result.toLowerCase() == "error") {
                            $("#freeow").freeow("Error", msg.Message, {
                                classes: ["smokey"],
                                autoHide: true
                            });
                        } else {
                            displayUserList();
                            $("#freeow").freeow("Info", "Nyahaktifkan data pengguna " + msg.record.FullName, {
                                classes: ["smokey"],
                                autoHide: true
                            });

                        }
                    },
                    error: function (msg) {
                        $("#freeow").freeow("Error", msg.Message, {
                            classes: ["smokey"],
                            autoHide: true
                        });
                    }
                });
            }
        });
    }

    function DeleteUser(id) {
        $.confirm({
            title: 'Pengesahan!',
            content: 'Hapus data pengguna ini?',
            confirmButton: 'Ya',
            cancelButton: 'Tidak!',
            confirmButtonClass: 'btn-danger',
            cancelButtonClass: 'btn-info',
            theme: 'black',
            columnClass: 'col-md-4 col-md-offset-4',
            confirm: function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Remove", "Admin")',
                    data: '{"UserID" :' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.Result.toLowerCase() == "error") {
                            $("#freeow").freeow("Error", msg.Message, {
                                classes: ["smokey"],
                                autoHide: true
                            });
                        } else {
                            displayUserList();
                            $("#freeow").freeow("Info", "Hapus data pengguna " + msg.record.FullName, {
                                classes: ["smokey"],
                                autoHide: true
                            });
                        }
                    },
                    error: function (msg) {
                        $("#freeow").freeow("Error", msg.Message, {
                            classes: ["smokey"],
                            autoHide: true
                        });
                    }
                });
            }
        });
    }

    
</script>

<section class="content-header">
    <h1>
        Pengurusan Pengguna
        <small>@Users.GetCurrentRoleName()</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Laman Utama</a></li>
        <li><a href="#">Pengurusan Pengguna</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div id="formInput" class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah / Kemaskini Pengguna</h3>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "myForm" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend></legend>
                        <div class="box-body">
                            <div class="form-group has-feedback">
                                <label for="role">Peranan</label>
                                <select id="Role" name="Role" class="form-control">
                                    @foreach (Role item in ViewBag.Role)
                                    {
                                        <option value="@item.RoleName">@item.RoleName</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" id="ID" name="ID" />
                            <div class="form-group has-feedback">
                                <label for="fullName">Nama Penuh</label>
                                @Html.TextBoxFor(m => m.FullName,
                            new { @class = "form-control", placeholder = "Nama Penuh" })
                                <span id='ErrorFullName' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="icNo">No. Kad Pengenalan</label>
                                @Html.TextBoxFor(m => m.ICNo,
                            new { @class = "form-control", placeholder = "No. Kad Pengenalan" })
                                <span id='ErrorICNo' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="userName">ID Pengguna</label>
                                @Html.TextBoxFor(m => m.UserName,
                            new { @class = "form-control", placeholder = "ID Pengguna" })
                                <span id='ErrorUserName' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password">Kata laluan</label>
                                @Html.PasswordFor(m => m.Password,
                            new { @class = "form-control", placeholder = "Kata laluan" })
                                <span id='ErrorPassword' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="confirmPassword">Pengesahan Kata laluan</label>
                                @Html.PasswordFor(m => m.ConfirmPassword,
                            new { @class = "form-control", placeholder = "Pengesahan Kata laluan" })
                                <span id='ErrorConfirmPassword' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="emailAddress">Alamat Emel</label>
                                @Html.TextBoxFor(m => m.Email,
                            new { @class = "form-control", placeholder = "Alamat Emel" })
                                <span id='ErrorEmail' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="altEmailAddress">Alamat Emel Alternatif</label>
                                @Html.TextBoxFor(m => m.AltEmail,
                            new { @class = "form-control", placeholder = "Alamat Emel Alternatif" })
                                <span id='ErrorAltEmail' class="field-validation-error"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="telNo">No. Telefon</label>
                                @Html.TextBoxFor(m => m.ContactNo,
                            new { @class = "form-control", placeholder = "No. Telefon" })
                                <span id='ErrorContactNo' class="field-validation-error"></span>
                            </div>
                            

                            <p class="pull-left">
                                <a title="Simpan" onclick="Save()" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-save"></span>  Simpan
                                </a>
                            </p>
                            <p class="pull-right">
                                <a title="Batal" onclick="Cancel()" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-remove"></span> Batal
                                </a>
                            </p>
                        </div>
                    </fieldset>
                }
            </div>            
        </div>
        <div id="table" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Senarai Pengguna</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-offset-0">
                        <form class="form-inline">
                            <div class="form-group">
                                <select name="filter1" id="filter1" class="form-control search">
                                    <option value=""></option>
                                    <option value="UserName">ID Pengguna</option>
                                    <option value="FullName">Nama Penuh</option>
                                    <option value="RoleName">Jawatan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input name="SearchKey1" id="SearchKey1" type="text" class="pull-left form-control search">&nbsp;                                
                            </div>
                            <div class="form-group">
                                <select name="filter2" id="filter2" class="form-control search">
                                    <option value=""></option>
                                    <option value="UserName">ID Pengguna</option>
                                    <option value="FullName">Nama Penuh</option>
                                    <option value="RoleName">Jawatan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input name="SearchKey2" id="SearchKey2" type="text" class="pull-left form-control search">&nbsp;
                                <a title="Cari" id="LoadRecordsButton" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span>  Cari
                                </a>
                            </div>
                        </form>
                    </div><br />                    
                    <div id="UserList"></div>
                    <p class="pull-right"><br />
                        <a title="Tambah Institut" onclick="AddUser()" class="btn btn-primary">
                            <span class="fa fa-user-plus"></span> Tambah Pengguna
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
