﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Hakcipta Terpelihara 2015-2016 &copy; <a href="http://www.doa.gov.my">Jabatan Pertanian Malaysia</a>.</strong>
</footer>