﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Makmal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                
        <!-- CSS -->
        <!-- Bootstrap 3.3.4 -->
        <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <!-- FontAwesome 4.3.0 -->
        <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet">        
        <!-- Ionicons 2.0.0 -->
        <link href="@Url.Content("~/Content/ionicons/css/ionicons.min.css")" rel="stylesheet">
        <!-- Theme style -->
        <link href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link href="@Url.Content("~/Content/dist/css/skins/_all-skins.min.css")" rel="stylesheet" type="text/css" />
        <!-- iCheck -->
        <link href="@Url.Content("~/Content/plugins/iCheck/square/blue.css")" rel="stylesheet" type="text/css" />
        <!--
        // ----------------------------------------------
        // --- Modified : 2015 07 27
        // --- By : Tri Basuki
        // ----------------------------------------------
        -->
        <!-- jtable -->
        <link href="@Url.Content("~/Content/jtable/themes/lightcolor/gray/jtable.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/css/jquery-confirm.css")" rel="stylesheet">


        <!-- Site -->
        <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
        <!-- freeow -->
        <link href="@Url.Content("~/Content/js/style/freeow/freeow.css")" rel="stylesheet">

        <!-- javascript -->   
        <!-- jQuery 2.1.4 -->
        <script src="@Url.Content("~/Content/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="@Url.Content("~/Content/plugins/jQueryUI/jquery-ui.min.js")" type="text/javascript"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script type="text/javascript">
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="@Url.Content("~/Content/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>
        <!--
        // ----------------------------------------------
        // --- Modified : 2015 07 27
        // --- By : Tri Basuki
        // ----------------------------------------------
        -->
        <!-- jtable -->
        <script src="@Url.Content("~/Content/jtable/jquery.jtable.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.formatDateTime.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery-confirm.js")"></script>


        <!-- AdminLTE App -->
        <script src="@Url.Content("~/Content/dist/js/app.min.js")" type="text/javascript"></script>
        <!-- freeow -->
        <script src="@Url.Content("~/Content/js/jquery.freeow.js")"></script>

    </head>
    <body class="skin-green-light sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Home")" class="logo">
                  <!-- mini logo for sidebar mini 50x50 pixels -->
                  <span class="logo-mini">M</span>
                  <!-- logo for regular state and mobile devices -->
                  <span class="logo-lg">Makmal</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                @Html.Partial("_navbar_static_top")
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            @Html.Partial("_main_sidebar")
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                 @RenderBody()        
            </div><!-- /.content-wrapper -->
            <div id="freeow" class="freeow freeow-bottom-right"></div>
            @Html.Partial("_footer")
            @Html.Partial("_control_sidebar")
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->
    </body>
</html>
