﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Template Project</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <!-- CSS -->
        <!-- Bootstrap 3.3.4 -->
        <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <!-- FontAwesome 4.3.0 -->
        <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet">        
        <!-- Theme style -->
        <link href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
        <!-- iCheck -->
        <link href="@Url.Content("~/Content/plugins/iCheck/square/blue.css")" rel="stylesheet" type="text/css" />
        <!-- Site -->
        <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
            <a href="@Url.Action("Index", "Home")"><b>Template</b> Project</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            @RenderBody()

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

        <!-- javascript -->   
        <!-- jQuery 2.1.4 -->
        <script src="@Url.Content("~/Content/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="@Url.Content("~/Content/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
    </body>
</html>