﻿@using TemplateProject.Models;

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/Content/dist/img/doa.png")" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>@Users.GetCurrentUserName()</p>
            <!--a href="#"><i class="fa fa-circle text-success"></i> Online</!--a-->
        </div>
        </div>
        <!-- search form -->        
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Carian..." />
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>    
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        
        <ul class="sidebar-menu">
        <li class="header">NAVIGASI UTAMA</li>
            @if (Users.GetCurrentRoleID() == RoleEnum.Administrator)
            {
                <li id="dashboard" class="active treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-dashboard"></i> <span>Papan Pemuka</span>
                    </a>
                </li>

                <li id="register" class="treeview">
                    <a href="@Url.Action("Register", "Account")">
                        <i class="fa fa-user"></i>
                        <span>Pengurusan Pengguna</span>
                    </a>                    
                </li>

                <li id="example" class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span>Master Data </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="example1"><a href="@Url.Action("Filter", "MasterData")"><i class="fa fa-list"></i> Jenis Pemeriksaan</a></li>
                        <li id="example2"><a href="#"><i class="fa fa-calendar"></i> Example 2</a></li>
                        <li id="example3"><a href="#"><i class="fa fa-clock-o"></i> Example 3</a></li>
                    </ul>
                </li>

            }
            else if (Users.GetCurrentRoleID() == RoleEnum.Staff)
            {
                <li id="dashboard" class="active treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-dashboard"></i> <span>Papan Pemuka</span>
                    </a>
                </li>
                <li id="instructionoverall" class="active treeview">
                    <a href="@Url.Action("InstructionOverall", "Lecturer")">
                        <i class="fa fa-clipboard"></i> <span>Arahan</span>
                    </a>
                </li>
            }
            else if (Users.GetCurrentRoleID() == RoleEnum.User)
            {
            <li id="dashboard" class="active treeview">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-dashboard"></i> <span>Papan Pemuka</span>
                </a>
            </li>

            <li id="arahan" class="treeview">
                <a href="@Url.Action("Instruction", "Instruction")">
                    <i class="fa fa-tasks"></i> <span>Arahan</span>
                </a>
            </li>

            <li id="approved" class="treeview">
                <a href="@Url.Action("SubmittedBatch", "Instruction")">
                    <i class="fa fa-list-alt"></i> <span>Semakan</span>
                </a>
            </li>
            }
            
        </ul>
        
    </section>
    <!-- /.sidebar -->
</aside>
